<section class="sidebar">
  <ul class="sidebar-menu tree">
    <li class="header"></li>
    <li class="treeview">
      <a href='#/dashboard' >
        <i class="fa fa-dashboard"><span>&nbsp;&nbsp;Dashboard</span></i>
      </a>
    </li>
    <li>
      <a href>
        <i class="fa fa-edit"></i><span>Cadastro</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>

      <ul class="treeview-menu">
        <li>
          <a href="#/billingCycles"><i class="fa fa-usd">Ciclo de Pagamento</i></a>
        </li>
      </ul>
    </li>
  </ul>
</section>
