<div role="form">
  <div class="box-body">
    <field id="name" label="Nome" model="bcCtrl.billingCycle.name"
         placeholder="Informe o Nome" grid="12 6 4"></field>
    <field id="month" label="Mês" model="bcCtrl.billingCycle.month" type="number"
         placeholder="Informe o Mês" grid="12 6 4"></field>
    <field id="year" label="Ano" model="bcCtrl.billingCycle.year" type="number"
         placeholder="Informe o Ano" grid="12 6 4"></field>
    <hr>
  </div>
  <div class="box-footer">
    <button ng-if="bcCtrl.tabCreate" class="btn btn-primary"
         ng-click="bcCtrl.create()">Incluir</button>
    <button ng-if="bcCtrl.tabUpdate" class="btn btn-info">Alterar</button>
    <button ng-if="bcCtrl.tabDelete" class="btn btn-danger">Excluir</button>
    <button class="btn btn-default">Cancelar</button>
  </div>
</div>
